@page "/"
@attribute [Authorize]

<PageTitle>Power Control - Dashboard</PageTitle>

<MudDataGrid Items="@Devices">
    <Columns>
        <TemplateColumn Title="Name">
            <CellTemplate>
                <MudText Typo="Typo.h3">@context.Item.Name</MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn CellClass="d-flex justify-end">
            <CellTemplate>
                <MudStack Row>
                    @{string stateColor = context.Item.State ? $"color:{Colors.Green.Default};" : $"color: {Colors.Red.Default};";}
                    @{bool prossesing = context.Item.Prosessing;}
                    <MudIconButton Disabled="@prossesing" Icon="@Icons.Material.Filled.PowerSettingsNew" Style="@stateColor" Size="Size.Large" @onclick="() => ToggleDevice(context.Item.Id, context.Item.State)">
                    @if (context.Item.Prosessing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    }
                    else
                    {
                    }
                    </MudIconButton>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
<div class="d-flex flex-wrap mt-4 justify-end">
</div>
<MudDataGrid Items="@ClimatDevices">
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="Name"/>
        <PropertyColumn Property="x => x.Temperature" Title="Temperature (°C)" />
        <PropertyColumn Property="x => x.Humidity" Title="Humidity (%)" />
        <PropertyColumn Property="x => x.Time" Title="Last reading" />
    </Columns>
</MudDataGrid>
